###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
*.css working-tree-encoding=CP1251

