###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
*.cs working-tree-encoding=CP1251
